<!-- 
  En esta aplicación vamos a utilizar la librería primeNG. Para ello:
    - Hemos instalado los paquetes necesarios con el npm install y hemos añadido los estilos en el angular.json.
  
  Para usar esta librería, tenemos que importar los componentes/modulos que vayamos necesitando. Por ejemplo, para poner los buttons con estos
  estilos que trae esta librería, necesitamos importar el ButtonModule en nuestro prime-ng.module.ts

  Hay muchísimos componentes ya hechos listos para usar simplemente importándolos (calendarios, paginaciones, botones, inputs, etc...)

  Ver documentación oficial para verlos todos y cómo se importan (https://primefaces.org/primeng/showcase/#/setup)

  MUY INTERESANTE: ver en el styles.css cómo elegimos los estilos que nos interesan (background-color, font-family, etccc) 
  del tema vela-blue que hemos cargado del primeNG

  ADEMÁS, vamos a utilizar flex (muy parecido a bootstrap) para dar estilos a los elementos html. Para ello:
    - Hemos instalado el paquete necesario con el npm install y hemos añadido los estilos en el angular.json 
      (también desde la documentación de primeNG podemos ver los pasos).
 -->

<app-menu></app-menu>

<router-outlet></router-outlet>
